services:
  postgres-productos:
    image: postgres:16
    environment:
      POSTGRES_USER: productos
      POSTGRES_PASSWORD: productos
      POSTGRES_DB: productos_db
    ports:
      - "5432:5432"
    volumes:
      - datos_postgres_productos:/var/lib/postgresql/data

  postgres-ordenes:
    image: postgres:16
    environment:
      POSTGRES_USER: ordenes
      POSTGRES_PASSWORD: ordenes
      POSTGRES_DB: ordenes_db
    ports:
      - "5433:5432"
    volumes:
      - datos_postgres_ordenes:/var/lib/postgresql/data

  servicio-productos:
    build: ./servicio-productos
    environment:
      DATABASE_URL: postgresql+psycopg2://productos:productos@postgres-productos:5432/productos_db
    ports:
      - "8000:8000"
    depends_on:
      - postgres-productos

  servicio-ordenes:
    build: ./servicio-ordenes
    environment:
      DATABASE_URL: postgresql+psycopg2://ordenes:ordenes@postgres-ordenes:5432/ordenes_db
      PRODUCTOS_URL: http://servicio-productos:8000
    ports:
      - "8001:8001"
    depends_on:
      - postgres-ordenes
      - servicio-productos

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - servicio-productos
      - servicio-ordenes

volumes:
  datos_postgres_productos:
  datos_postgres_ordenes:
